<!-- 네이버 로그인 버튼 노출 영역 -->

<h1>로그인 하십시오.</h1>
<div class="w-[185px] h-[40px]">
  <a href="<%- apiURL %>"
    ><img
      src="http://static.nid.naver.com/oauth/big_g.PNG"
      class="w-[185px] h-[40px] border-none"
      title="네이버 아이디로 로그인"
  /></a>
</div>
<div>copyright가 들어갈 영역</div>
<!-- //네이버 로그인 버튼 노출 영역 -->
