<h1>안녕! <%= userName %>!</h1>
<form method="post">
  <input type="text" name="userName" placeholder="이름을 입력하세요" />
  <input type="email" name="userEmail" placeholder="이메일을 입력하세요" />
  <input
    type="password"
    name="userPassword"
    placeholder="비밀번호를 입력하세요"
    autocomplete="new-password"
  />
  <input
    type="password"
    name="userPasswordConfirm"
    placeholder="비밀번호를 다시 입력하세요"
    autocomplete="new-password"
  />
  <button type="submit">전송</button>
</form>
