<img src="/apple-icon.png" alt="사과 아이콘" width="192" height="192" />
<h1 class="text-3xl text-cyan-500">카운트: <%= count %></h1>
<p>진짜로 홈페이지 만들어야지...</p>
<p>그런데 아이디어가 안 떠올라요 ㅜㅜ</p>
<p>하고 싶은 것</p>
<ul>
  <li>MPA 홈페이지 만들기</li>
  <li>서버 위주로 웹 서비스 만들기</li>
  <li>온라인 게임 만들기</li>
</ul>
<p>폼 제출 테스트: <a href="/form">하러 가기</a></p>
<button type="button" id="happy">누르면 행복해지는 버튼(GTM테스트)</button>
<script>
const button = document.getElementById('happy');
if (button) {
  const age = Number(prompt("나이를 입력하세요", "29"));
  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
      event: '행복버튼클릭',
      age: age,
  });
  alert(`당신은 이제 ${age+1}살이라서 행복합니다.`);
}
</script>
<footer>제작일: 2025년 1월 7일 22시 49분!</footer>
